<p id="notice"><%= notice %></p>

<div class="btn-group">
  <%= link_to new_source_path, class: "btn btn-default btn-sm" do %>
    <i class="glyphicon glyphicon-plus"> Source</i>
  <% end %>
</div>

<div class="col-sm-6 pull-right">
<div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div>
</div>
<br /><br />
<% @sources.each do |source| %>
  <%= render 'layouts/source', source: source %>
<% end %>
<%=  will_paginate @sources, renderer: BootstrapPagination::Rails %>
<!--
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>


    <% @sources.each do |source| %>
      <tr>
        <td><%= source.name %></td>
        <% if source.url[/http/] %>
          <td><a href="<%= source.url %>"><%= source.url %></td>
        <% else %>
          <td><a href="http://<%= source.url %>"><%= source.url %></td>
        <% end %>
        <td><%= source.description %></td>
        <td><%= link_to 'Show', source %></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Edit', edit_source_path(source) %></td>
          <% if current_user.admin? %>
            <td><%= link_to 'Destroy', source, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
-->
<br>
