<p id="notice"><%= notice %></p>

<div class="btn-group">
  <%= link_to new_source_path, class: "btn btn-default btn-sm" do %>
    <i class="glyphicon glyphicon-plus"> Source</i>
  <% end %>
</div>

<div class="col-sm-6 pull-right">

  <%= form_tag '/search/', method: 'get' do %>
    <div class="input-group">
      <input type="text" name="search" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <%= submit_tag "Go!", :name => nil, class: "btn btn-default", type: "button" %>
      </span>
    </div>
  <% end %>

</div>
<br /><br />
<% if @sources.empty? %>
  No matches found.
<% end %>
<% @sources.each do |source| %>
  <%= render 'layouts/source', source: source %>
<% end %>
<%=  will_paginate @sources, renderer: BootstrapPagination::Rails %>
