<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @source.name %>
</p>

<p>
  <strong>Url:</strong>
  <a href="<%= @source.url %>"><%= @source.url %></a>
</p>

<p>
  <strong>Description:</strong>
  <%= @source.description %>
</p>

<% if user_signed_in? %>
  <%= link_to 'Edit', edit_source_path(@source) %> |
<% end %>
<%= link_to 'Back', sources_path %>
