<div class="panel panel-primary">
  <div class="panel-heading clearfix">
    <h3 class="panel-title pull-left" style="padding-top: 7.5px;"><%= source.name %></h3>
    <div class="btn-group pull-right">
      <%= link_to source, class: "btn btn-default btn-sm" do %>
        <i class="glyphicon glyphicon-eye-open"></i>
      <% end %>
    </div>
  </div>
  <div class="panel-body">
    <% if source.url[/http/] %>
      <a href="<%= source.url %>"><%= source.url %></a>
    <% else %>
      <a href="http://<%= source.url %>">http://<%= source.url %></a>
    <% end %>
    <br />
    <%= truncate(source.description, length: 141) %>
  </div>
</div>
